<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MasterServer" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ClusterServer" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <MasterServer>
    <add key="test" value="test value" />
  </MasterServer>

  <ClusterServer>
    <add key="masterip" value ="127.0.0.1" />
    <add key="port" value ="0" />
  </ClusterServer>
</configuration>